build/
targets/stm32f407/.mxproject
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
scripts/flash_burn.jlink
targets/stm32f407/Makefile
targets/stm32f407/STM32F407VE.ioc
targets/stm32f407/Core/Inc/gpio.h
targets/stm32f407/Core/Inc/i2c.h
targets/stm32f407/Core/Inc/main.h
targets/stm32f407/Core/Inc/rtc.h
targets/stm32f407/Core/Inc/stm32f4xx_hal_conf.h
targets/stm32f407/Core/Inc/stm32f4xx_it.h
targets/stm32f407/Core/Src/gpio.c
targets/stm32f407/Core/Src/i2c.c
targets/stm32f407/Core/Src/rtc.c
targets/stm32f407/Core/Src/stm32f4xx_hal_msp.c
targets/stm32f407/Core/Src/stm32f4xx_it.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rtc_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rtc.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_rtc.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rtc.c
targets/stm32f407/startup_stm32f407xx.s
targets/stm32f407/STM32F407VETx_FLASH.ld
targets/stm32f407/Core/Src/system_stm32f4xx.c
targets/stm32f407/Drivers/CMSIS/LICENSE.txt
targets/stm32f407/Drivers/CMSIS/Device/ST/STM32F4xx/LICENSE.txt
targets/stm32f407/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f4xx.h
targets/stm32f407/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f407xx.h
targets/stm32f407/Drivers/CMSIS/Device/ST/STM32F4xx/Include/system_stm32f4xx.h
targets/stm32f407/Drivers/CMSIS/Include/cmsis_armcc.h
targets/stm32f407/Drivers/CMSIS/Include/cmsis_armclang.h
targets/stm32f407/Drivers/CMSIS/Include/cmsis_compiler.h
targets/stm32f407/Drivers/CMSIS/Include/cmsis_gcc.h
targets/stm32f407/Drivers/CMSIS/Include/cmsis_iccarm.h
targets/stm32f407/Drivers/CMSIS/Include/cmsis_version.h
targets/stm32f407/Drivers/CMSIS/Include/core_armv8mbl.h
targets/stm32f407/Drivers/CMSIS/Include/core_armv8mml.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm0.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm0plus.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm1.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm3.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm7.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm23.h
targets/stm32f407/Drivers/CMSIS/Include/core_cm33.h
targets/stm32f407/Drivers/CMSIS/Include/core_sc000.h
targets/stm32f407/Drivers/CMSIS/Include/core_sc300.h
targets/stm32f407/Drivers/CMSIS/Include/mpu_armv7.h
targets/stm32f407/Drivers/CMSIS/Include/mpu_armv8.h
targets/stm32f407/Drivers/CMSIS/Include/tz_context.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/LICENSE.txt
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_cortex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_def.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_exti.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ramfunc.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_tim_ex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_tim.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_bus.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_cortex.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_dma.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_exti.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_gpio.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_i2c.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_pwr.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_rcc.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_system.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_utils.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy/stm32_hal_legacy.h
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.c
targets/stm32f407/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.c
